@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --primary-color: rgb(30, 144, 255);
  --primary-color-hover: rgb(5, 100, 196);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #121212;
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
}